.card{
  width: 32%;
  margin-left: 1%;
}

.title{
  text-align: left;
  text-decoration: underline;
  color: darkslategray;
}

.price{
  color:firebrick;
}

.annonced{
  text-align: center;
  font-variant: small-caps;
}

.main_text{
  color:dimgray;
}

.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
         user-select: none;
         }

@media (min-width: 768px) {
                .bd-placeholder-img-lg {
                  font-size: 3.5rem;
                }
              }
.error{
   color: red;
 }

ul {
  padding: 10px 0px!important;
}

ul li {
  list-style: none;
  padding: 10px;
  margin-bottom: 10px;
  background: #fcfcfc;
  border: 1px solid silver;
  border-radius: 5px;
}

ul li:hover {
  background: #e5e5e5;
}

ul li button {
  border: 0;
  padding: 5px 15px;
  color: white;
  font-size: 13px;
  background: #db5757;
  position: relative;
  left: 355px;
  border-radius: 5px;
}

ul li button:hover {
  background: #a04141;
}

a ul li button{
    text-decoration: none;
}
